@using CharacterCountingAndSession.Models
@model HomePageViewModel

<div class="row" style="margin-top: 40px;">
    <form>
        <div class="col-md-11">
            <input type="text" value="@Model.Text" class="input-lg form-control" name="text" placeholder="Enter text..."/>
        </div>
        <div class="col-md-1">
            <button class="btn btn-success btn-lg">Submit</button>
        </div>
    </form>
</div>

@if (Model.CharacterCount != null)
{
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            @foreach (KeyValuePair<char, int> kvp in Model.CharacterCount)
            {
                <h2>There are @kvp.Value @kvp.Key's</h2>
            }
        </div>
    </div>
}